<<<<<<< HEAD
{{#if post.access}}
<div class="comment container small">
  <div id='discourse-comments'></div>

<script type="text/javascript">
    if (window.location.pathname.indexOf('/p/') < 0) {
        DiscourseEmbed = {
            discourseUrl: 'https://talk.seabits.com/',
            discourseEmbedUrl: '{{url absolute="true"}}'
        };

        (function() {
            var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
    }
</script>
</div>
{{/if}}
=======
{{!--
{{#post}}
    {{#if access}}
        <div class="comment container small">
            If you want to embed comments, this is a good place to do it!
        </div>
    {{/if}}
{{/post}}
--}}
>>>>>>> upstream/main
